.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

/* shared styles  */
.flex {
    display: flex;
}

.btn-main {
    padding: 12px 30px 12px 30px;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 32px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
}

.small-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.90rem;
    font-weight: 400;
}
.medium-text{
    font-size: 1.5rem;
font-weight: 600;
}
.large-text{
    font-size: 2rem;
font-weight: 900;
}
/* header styles */
.background-header {
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgb(61, 61, 61) 50%, rgb(17, 17, 17) 100%);
}

.front-nav {
    border: 1px solid gray;
    text-align: center;
    border-radius: 15px;
    gap: 20px;
}

.front-nav>a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding-right: 17px;
}

.nav {
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding-top: 57px;
}

.title-font {
    font-size: 1.56rem;
    color: rgb(230, 83, 60);
}

.btn-home {
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 14px;
    border: none;
    padding: 5px 15px;
}

.btn-trans {
    font-size: 0.9rem;
    padding: 12px 30px 12px 30px;
    background-color: transparent;
    border-radius: 32px;
    color: white;
    border: 1px solid white;
    font-weight: 600;
}

.button {
    margin-top: 20px;
    gap: 10px;

}

.ph-button {
    display: none;
}

.big-text {
    font-size: 4rem;
    font-weight: 900;
    /* margin-top: 60px; */
}

.banner-text {
    width: 425px;
    height: 310px;
    margin-left: 150px;
}

#image1>img {
    width: 300px;
    height: 490px;
    margin-left: 270px;
}

#elipse {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

h3,
h2,
p {
    margin: 0px;
}

#box-number1 {
    font-size: 30px;
    font-weight: 900;
}

#box-number2 {
    font-size: 18px;
    font-weight: 900;
}

#extra {
    margin-left: 10px;
}

.box {
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    width: 145px;
    height: 60px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    border-radius: 12px;
}
/* change your habits styles */
.habits-container{
  /* margin: 100px 187px; */
     flex-direction: column;
     align-items: center;
     
}
.habit-text{
    text-align: center;
    padding-bottom: 50px;
    gap: 10px;
}
.habit-box > div > img{
    border-radius: 50%;
}
.habit-box-text{
    text-align: center;
    padding: 0px 30px;
}
.habit-box{
    align-items: center;
}
.habit-box > div {
    text-align: center;
    margin-left: 10px;
    align-items: center;
}




@media screen and (max-width:576px) {

    /* header part responsive */
    .background-header>nav,
    div {
        margin: 0px 20px;
    }

    .banner-container {
        flex-direction: column;
    }

    .nav {
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        text-align: left;
    }

    #image1>img {
        margin: 0px;

    }

    .banner-text {
        margin: 0px;
        height: 300px;
        width: 300px;
    }

    .big-text {
        font-size: 1.9rem;
        font-weight: 900;
    }

    .button {
        margin: 0px;

    }

    .ph-button {
        display: block;
    }

    .lap-button {
        display: none
    }

    .btn-main {
        padding: 12px 30px;
    }

    .small-text {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.88rem;
        font-weight: 400;
    }

    .front-nav {
        display: none;
    }

    .title-font {
        text-align: left;
    }

    /* hamburger icon */
    .burger-menu {
        gap: 2px;
        display: flex;
        flex-direction: column;
    }

    .burger-menu>span {
        border: 1px solid rgb(255, 255, 255);
        width: 18px;
        height: 0;
    }
}